*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(00, 00, 33);
    color: white;
    font-family: 'poppins', sanserif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(9, 9, 55);
    height: 80px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
.left{
    font-size: 1.5rem;

}

.firstsection{
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
    align-items: center;
}
.firstsection> div{
    width: 30%;
}
.leftsection{
    font-size: 2.5rem;

}
.leftsection .btn{
   background-color: rgb(5, 5, 86);
   color: white;
   

}
.purple{
    color: purple;
}
#element{
    color: purple;
}

.rightsection img{
    width: 80%;
    margin: 50px 0;
    
}